@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
}



/* NAVBAR START */

    nav {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;    
        background: rgba(15, 17, 24, 0.95);
        box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.548);
        z-index: 99;
    }

    .bunder {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 5px;
        background-color: rgb(6, 245, 6);
        border-radius: 20px;
    }

    nav .navbar {
        height: 100%;
        max-width: 1250px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
    }
    nav .navbar .logo img {
        width: 255px;
        margin-bottom: 20px;
    }

    nav .navbar .logo a span {
        font-style: italic;
        font-weight: 600;
        color: rgb(255, 159, 80);
    }

    nav .navbar .nav-links {
        height: 100%;
        line-height: 80px;
    }

    nav .navbar .nav-links .links{
        display: flex;
        margin-top: 3px;
        margin-left: -40px;
    }

    nav .navbar .nav-links .links li {
        position: relative;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0 15px;
    }

    nav .navbar .nav-links .links li a {
        height: 100%;
        text-decoration: none;
        color: #b1b1b1;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 500;
    }

    nav .navbar .nav-links .links li a:hover {
        color: white;
        transition: all 0.2s ease;
    }

    nav .navbar .nav-links .links li .arrow {
        height: 100%;
        line-height: 80px;
        width: 22px;
        text-align: center;
        color: #b1b1b1;
    }

     .navbar .nav-links .links li:hover .olahraga-arrow,
     .navbar .nav-links .links li:hover .brands-arrow{
        transform: rotate(180deg);
        transition: all 0.4s ease;
        color: white;
    }

    .navbar .nav-links .links .sub-menu {
        position: absolute;
        top: 70px;
        left: -15px;
        background-color: rgba(15, 17, 24, 0.95);
        line-height: 40px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        display: none;
    }


    .navbar .nav-links .links .sub-menu li {
        padding: 0 15px;
    }

    .navbar .nav-links .links .sub-menu li:hover {
        border-bottom: 2px rgb(255, 159, 80) solid;
    }

    .navbar .nav-links .links .sub-menu li a {
        font-size: 15px;        
        margin-left: -20px;
        padding-right: 15px;
        padding-top: 10px;

    }

    .navbar .nav-links .links li:hover .olahraga-sub-menu,
    .navbar .nav-links .links li:hover .brands-sub-menu {
        display: block;
    }

    .navbar .search-box {
        position: relative;
        height: 40px;
        width: 40px;
    }

    .navbar .search-box i {
        color: #fff;
        position: absolute;
        height: 100%;
        width: 100%;
        line-height: 43px;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        margin-left: 20px;
    }

    .navbar .search-box .input-box {
        height: 60px;
        width: 300px;
        background: rgb(27 32 44);
        position: absolute;
        top: 90px;
        right: calc(100% - 40px);
        border-radius: 6px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
    }
    
    .navbar.showInput .search-box .input-box{
        opacity: 1;
        pointer-events: auto;
        top: 70px;
    }

    .input-box button {
      position: relative;
      left: 95%;
      top: -30px;
    }
    .input-box .bx-search {
      position: absolute;
      left: -50px;
      top: -5px;
      z-index: 999;
    }
    

    .navbar .search-box .input-box::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background: rgb(27 32 44);
        right: 10px;
        top: -6px;
        transform: rotate(45deg);
    }

    .navbar .search-box .input-box input {
        position: absolute;
        height: 35px;
        width: 280px;
        z-index: 98;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 0 15px;
        font-size: 16px;
    }

    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x {
        display: none;
    }

    .bxs-cart {
        color: #fff;
        position: absolute;
        height: 100%;
        width: 100%;
        line-height: 40px;
        font-size: 25px;
        font-weight: 500;
        margin-top: 27px;
    }
    .bx.bxs-cart:after {
      content: none;
    }

/* NAVBAR END */


/* LOGIN PAGE START*/
.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 422px;
  background: transparent;
  border: 2px solid rgba(228, 226, 226, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.wrapper .input-boxx {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-boxx input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border:  2px solid rgba(255, 255, 255, .5);
  border-radius: 40px ;
  font-size: 1rem;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-boxx input::placeholder {
  color: #fff;
  font-weight: 500;
}

.input-boxx i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  font-weight: 400;
  margin: -15px 0 15px;
  margin-left: 10px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  margin-top: 30px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.register-link p a:hover {
  text-decoration: underline;
}
.back {
  display: flex;
  justify-content: center;
  font-size: 12px;
  
}

.back a {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  transition: all 0.3s ease-in;
}

.back a:hover {
  transform: translateY(-5px);
}

/* LOGIN PAGE END */

/* BANNER START */
.banner {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-top: -60px;
}
.banner .container {
  max-width: 1240px;
}
.imgslider {
  background: url('../img/bannerbola.jpg') no-repeat; 
  width: 100%;
  height: 500px;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  animation: changeImage 15s linear infinite;
  margin-bottom: -70px;
}

@keyframes changeImage {
  25% {
    background: url('../img/bannerbola.jpg'); 
    background-size: 100% 100%;
    background-position: center;
  }

  50% {
    background: url('../img/bannerbasket.jpg'); 
    background-size: 100% 100%;
    background-position: center;
  }

  75% {
    background: url('../img/bannerfutsal.jpg'); 
    background-size: 100% 100%;
    background-position: center;
  }

  95% {
    background: url('../img/bannerlari.jpg'); 
    background-size: 100% 100%;
    background-position: center;
  }
}

/* BANNER END */

/* BUTTON WHATSAPP START */

  .btn-whatsapp {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #25D366;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }

  .section {
    position: relative;
  }
  
  .tooltip {
    position: absolute;
    top: .6rem;
    right: 3rem;
    font-size: 1rem;
    background-color: #25D366;
    color: #fff;
    padding: .2rem 1rem;
    border-radius: .5rem;
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  .btn-whatsapp:hover .tooltip {
    opacity: 1;
  }


/* BUTTON WHATSAPP END */

/* SECTION 1 START*/


.gambarsection1 img{
  width: 98%;
  height: 160px;
  border-radius: 10px;
}

.gambarsection1 img {
  transition: filter 0.2s;
}

.gambarsection1 img:hover {
  filter: brightness(1.5);
}


.shopby .container {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  border-radius: 12px;
}

.logobrand a {
  transition: all 0.2s ease;
}

.logobrand a:hover {
  transform: translateY(-5px);
}

/* SECTION 1 END */



/* KARTU PRODUK START */

.container-produk {
  max-width: 1200px;
  margin-top: 50px;
}

.card-produk {
  border: 2px solid rgb(235, 235, 235);
}

.card-produk:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.card-produk img {
  width: 80%;
  position: relative;
  top: -35px;
  left: 25px;
  margin-bottom: 40px;
  transform: rotate(10deg);
}

.card-produk img {
  transition: all 0.2s ease;
}

.card-produk img:hover {
  transform: translateY(5px);
  transform: translateX(10px);
}

.card-produk .card-body h5{
  font-size: 1.25rem;
  text-align: center;
  margin-top: -85px;
  margin-bottom: 30px;
  color: #A1A1A3;
  font-weight: normal;
}

.card-produk .card-body p {
  font-size: 16px;
  text-align: center;
  width: 100%;
  color: #000;
  font-weight: 500;
}

.card-body .badge {
  width: 90%;
  padding: 10px 40px;
  font-size: 1.15rem;
  font-weight: normal;
  margin-left: 20px;
  background: #333;

}

.card-body .btn {
  position: relative;
  left: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* KARTU PRODUK END */



/* DETAIL PRODUK START */

.img-wrapper {
  width: 80%;
  margin: 5% 5% 5% 10%;
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  background-color: rgb(248, 247, 247);
  border-radius: 20px;
  width: 500px;
  height: 500px;
  float: right;
}

/* DETAIL PRODUK END */





/* TESTIMONIALS START */
.testimonials {
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: rgba(5, 6, 8, 0.95);
  margin: 26px auto;
}

.row-testi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-testi {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;
}

.testimonial img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  margin: 20px 0;
}

.stars {
  color: rgb(253, 180, 22);
  margin-bottom: 20px;
}
/* TESTIMONIALS END */







/* FOOTER START */
.footer {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: rgba(5, 6, 8, 0.95);
  }
  .footer img {
    margin-left: -30px;
    width: 250px;
    height: 60px;
    flex-shrink: 0;
  }
  
  .title-footer {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .footer h5 {
    color: #A1A1A3;
    margin-top: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer span {
    color: #A1A1A3;
    width: 418px;
    height: 62px;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .footer p {
    color: #A1A1A3;
    width: 100%;
    height: 62px;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .icons a {
    margin-top: 90px;
    margin-left: -20px;
    padding: 15px 20px;
    font-size: 2rem;
    color: #fff;
    transition: all .40s ease;
  }

  .icons a:hover {
    transform: translateY(-5px);
  }

  .servis h5 {
    color: #A1A1A3;
  }

  .servis h5:hover {
    color: #fff;
  }
  .servis a{
    display: block;
    text-decoration: none;
    transition: all .40s ease;
  }

  .servis a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
  }
  
  
  .svg-line {
      margin-top: 113.5px; /* Sesuaikan jarak sesuai kebutuhan Anda */
  }

  .kotak img {
    width: 65%;
    position: relative;
    left: 18%;
  }

  .contact a {
    text-decoration: none;
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    color: #fff;
    padding-top: 2px;
    margin-left: -5px;
  }

  .contact h5 {
    margin-top: 2px;
    font-size: 1rem;
    margin-left: 10px;
    transition: all 0.1s ease;
  }

  .contact h5:hover {
    color: #fff;
  }
/* FOOTER END */

